._*
.DS_Store
*.swp
*.env
*.log
node_modules/
dist/
coverage/
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.bak
*.tmp
*.cache
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.7z
*.csv
*.xlsx
*.docx
*.pdf
*.exe
*.dll
*.so
*.dylib
*.bin
*.iso
*.img