polkit.addRule(function(action, subject) {
    var allowed = [
        "org.freedesktop.NetworkManager.settings.modify.system",
        "org.freedesktop.NetworkManager.settings.modify.own",
        "org.freedesktop.NetworkManager.network-control",
        "org.freedesktop.NetworkManager.enable-disable-wifi",
        "org.freedesktop.NetworkManager.enable-disable-network",
        "org.freedesktop.NetworkManager.wifi.scan"
    ];
    if (subject.local && subject.active && subject.isInGroup("netdev") &&
        allowed.indexOf(action.id) >= 0) {
        return polkit.Result.YES;
    }
});
